<div class="flex items-center gap-4 w-full">
  <div class="w-fit p-2.5 rounded-md" [iconColor]="modalidade().cor">
    <svg lucideLayers class="h-5 w-5"></svg>
  </div>
  <div class="flex items-center gap-4 grow min-w-0">
    @if (showActions()) {
      <h6 class="truncate text-lg font-medium tracking-tight">
        {{ modalidade().descricao }}
      </h6>
    } @else {
      <h6 class="truncate text-lg font-medium tracking-tight">{{ modalidade().descricao }}</h6>
    }
    <p-badge
      class="shrink-0"
      [value]="`${modalidade().maxVagas} Vagas`"
      [customBadge]="modalidade().cor"
    />
  </div>
  @if (showActions()) {
    <div class="flex justify-end items-start h-full gap-1">
      <p-button
        [routerLink]="modalidade().id"
        pTooltip="Visualizar modalidade"
        tooltipPosition="top"
        severity="info"
        [text]="true"
      >
        <ng-template #icon>
          <svg lucideEye class="h-4.5 w-4.5"></svg>
        </ng-template>
      </p-button>
      @if (modalidade().ativo) {
        <p-button
          [routerLink]="modalidade().id + '/editar'"
          pTooltip="Editar modalidade"
          tooltipPosition="top"
          severity="secondary"
          [text]="true"
        >
          <ng-template #icon>
            <svg lucidePencil class="h-4 w-4"></svg>
          </ng-template>
        </p-button>
      }
      <p-button
        (onClick)="toggleModalidade()"
        [severity]="computedModalidadeAtivaBtn().severity"
        [pTooltip]="computedModalidadeAtivaBtn().tooltipValue"
        tooltipPosition="top"
        [text]="true"
      >
        <ng-template #icon>
          <svg [lucideIcon]="computedModalidadeAtivaBtn().icon" class="h-4 w-4"></svg>
        </ng-template>
      </p-button>
    </div>
  }
</div>
<div class="flex items-start gap-4 w-full">
  @for (item of computedInfoCards(); track $index) {
    <info-card class="bg-surface-subtle! whitespace-nowrap p-3!" [data]="item" />
  }
</div>
<div class="flex flex-col w-full">
  <div class="flex justify-between w-full mb-1">
    <p class="text-xs text-content-secondary">Ocupação</p>
    <p class="text-xs text-content-on-card font-semibold">
      {{ `${computedOcupacao()}%` }}
    </p>
  </div>

  @if (modalidade().ativo) {
    <p-progressbar
      class="h-2! mb-2"
      showValue="false"
      [value]="computedOcupacao()"
      [customProgressbar]="modalidade().cor"
    />
  }
</div>
