<button
  type="button"
  class="flex min-w-0 flex-1 items-center gap-3 rounded-lg text-left transition-colors focus:outline-none focus-visible:ring-2 focus-visible:ring-brand-primary/40"
>
  <span
    class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full text-sm font-semibold bg-brand-border-brand-primary/10 text-brand-border-brand-primary"
    [profileColor]="'#be222d'"
    >{{ data().siglaNome }}
  </span>
  <div class="min-w-0">
    <div class="flex flex-wrap items-center gap-2">
      <p class="truncate text-sm font-semibold text-foreground">
        {{ data().nome }}
      </p>
      <p-tag [value]="data().role" />
    </div>
    <p class="truncate text-xs text-content-secondary">{{ data().cpf }}</p>
  </div>
</button>
<div class="hidden min-w-0 flex-col gap-2 text-xs text-content-secondary xl:flex xl:w-56">
  <span class="flex items-center gap-2 truncate">
    <svg lucideMail class="h-5 w-5"></svg> {{ data().email }}
  </span>
  <span class="flex items-center gap-2 truncate">
    <svg lucidePhone class="h-5 w-5"></svg>{{ data().telefone }}</span
  >
</div>
<div class="hidden min-w-0 flex-col gap-2 text-xs text-content-secondary md:flex md:w-32">
  <span class="flex items-center gap-2 truncate">
    <svg lucideCake class="h-5 w-5"></svg> {{ data().dataNascimento | date: 'dd/MM/yyyy' }} </span
  ><span class="pl-5">45 anos</span>
</div>
<p-tag [value]="activeConfig().label" [severity]="activeConfig().severity" />
<div class="flex shrink-0 items-center gap-1">
  <p-button [text]="true" severity="secondary">
    <ng-template #icon>
      <svg lucidePencil class="h-5 w-5"></svg>
    </ng-template>
  </p-button>
  <p-button [text]="true" severity="warn">
    <ng-template #icon>
      <svg lucidePowerOff class="h-5 w-5"></svg>
    </ng-template>
  </p-button>
</div>
