<header>
  <div
    class="flex p-4 gap-4 bg-surface-card/80 border-border-default border-2 rounded-lg backdrop-blur-sm"
  >
    <div class="flex grow">
      <p-iconfield class="basis-120">
        <p-inputicon>
          <svg lucideSearch class="w-4 h-4"></svg>
        </p-inputicon>
        <input
          type="text"
          pInputText
          class="w-full"
          placeholder="Buscar acolhidos, relatórios..."
          [(ngModel)]="searchValue"
        />
      </p-iconfield>
    </div>
    <div class="flex items-center gap-2 text-content-secondary">
      <div class="flex gap-2 items-center">
        <svg lucideCalendar class="w-4 h-4"></svg>
        <p class="text-sm">{{ dataFormatada() }}</p>
      </div>
      <p-button icon="pi pi-check" [rounded]="true" [text]="true" severity="secondary">
        <ng-template #icon>
          <svg lucideBell class="w-4 h-4"></svg>
        </ng-template>
      </p-button>
    </div>
  </div>
</header>
