<div
  class="flex flex-wrap items-center gap-2 rounded-xl border border-border-default bg-surface-card p-4"
>
  <p-iconfield class="min-w-70 basis-full grow-2 md:basis-[50%]">
    <p-inputicon>
      <svg lucideSearch class="h-4 w-4"></svg>
    </p-inputicon>
    <input
      pInputText
      [ngModel]="busca()"
      (ngModelChange)="this.buscaChange.emit($event)"
      placeholder="Buscar por nome, CPF ou e-mail..."
      class="w-full placeholder:text-sm"
    />
  </p-iconfield>

  <p-iconfield class="min-w-70 basis-70 grow">
    <p-inputicon class="absolute left-3 top-1/2 z-10 mt-0! flex -translate-y-1/2 items-center">
      <svg lucideBriefcase class="h-5 w-5"></svg>
    </p-inputicon>
    <p-select
      [options]="cargos"
      [ngModel]="cargoSelecionado()"
      (ngModelChange)="this.cargoSelecionadoChange.emit($event)"
      optionLabel="name"
      optionValue="code"
      placeholder="Selecione um cargo"
      class="w-full pl-7.5"
    >
      <ng-template #selectedItem let-selectedOption>
        <p class="text-sm">
          Cargo: <span>{{ selectedOption.name }}</span>
        </p>
      </ng-template>
    </p-select>
  </p-iconfield>

  <p-iconfield class="min-w-45 basis-45 grow">
    <p-inputicon class="absolute left-3 top-1/2 z-10 mt-0! flex -translate-y-1/2 items-center">
      <svg lucideSlidersHorizontal class="h-5 w-5"></svg>
    </p-inputicon>
    <p-select
      [options]="status"
      [ngModel]="statusSelecionado()"
      (ngModelChange)="this.statusSelecionadoChange.emit($event)"
      optionLabel="name"
      optionValue="code"
      placeholder="Selecione o status"
      class="w-full pl-7.5"
    >
      <ng-template #selectedItem let-selectedOption>
        <p class="text-sm">
          Status: <span>{{ selectedOption.name }}</span>
        </p>
      </ng-template>
    </p-select>
  </p-iconfield>

  <p-iconfield class="min-w-45 basis-45 grow">
    <p-inputicon class="absolute left-3 top-1/2 z-10 mt-0! flex -translate-y-1/2 items-center">
      <svg lucideCake class="h-5 w-5"></svg>
    </p-inputicon>
    <p-select
      [options]="mesesDeNascimento"
      [ngModel]="mesSelecionado()"
      (ngModelChange)="this.mesSelecionadoChange.emit($event)"
      optionLabel="name"
      optionValue="code"
      placeholder="Selecione o mês"
      class="w-full pl-7.5"
    >
      <ng-template #selectedItem let-selectedOption>
        <p class="text-sm">
          Nascimento: <span>{{ selectedOption.name }}</span>
        </p>
      </ng-template>
    </p-select>
  </p-iconfield>
</div>
